<div class="aboutInfo">
    <h1>История</h1>
    <p>
        "Lion Pride" е основана през 2012 г. от екип от млади и амбициозни инженери, които вярват, че технологиите могат да променят света. Компанията започва като малък стартъп, който разработва иновативни софтуерни решения за местни бизнеси. С времето, благодарение на своята креативност и отдаденост, "Lion Pride" успява да разшири дейността си и да привлече международни клиенти.

Днес, с повече от десетилетие опит, "Lion Pride" е лидер в предоставянето на персонализирани технологични решения, съчетаващи съвременни технологии с интуитивен дизайн.
    </p>
</div>

<h1>Постижения</h1>
<div class="timeline">

    <div class="conteiner left-content">
        <span class="circle"></span>
        <div class="box">
            <h2>Основаване</h2>
            <small>2012 г.</small>
            <p>Стартъп компания разработки за месни бизнеси!</p>
            <span class="leftArrow"></span>
        </div>
    </div>

    <div class="conteiner right-content">
        <span class="circle"></span>
        <div class="box">
            <h2>Web разработки</h2>
            <small>2015 г.</small>
            <p>Създаване на първата платформа за управление на онлайн магазини, използвана от над 100 компании в България.</p>
            <span class="rightArrow"></span>
        </div>
    </div>

    <div class="conteiner left-content">
        <span class="circle"></span>
        <div class="box">
            <h2>Иновации</h2>
            <small>2018 г.</small>
            <p>Разработване на иновационна система за управление на доставки, наградена с "Технологична иновация на годината".</p>
            <span class="leftArrow"></span>
        </div>
    </div>

    <div class="conteiner right-content">
        <span class="circle"></span>
        <div class="box">
            <h2>Дигитализация</h2>
            <small>2020 г.</small>
            <p>Успешно реализиране на проект за дигитализация на 50 държавни институции.</p>
            <span class="rightArrow"></span>
        </div>
    </div>
    <div class="conteiner left-content">
        <span class="circle"></span>
        <div class="box">
            <h2>Пстижения в мобилни приложения</h2>
            <small>2023 г.</small>
            <p>Постигане на над 1 милион активни потребители в мобилното приложение "Pride Connect".</p>
            <span class="leftArrow"></span>
        </div>
    </div>
</div>

<h1>Партньори</h1>
<div class="cards">
    <div class="card">
        <h2>TechWorld Innovations</h2>
        <p>Дългогодишен партньор в разработката на IoT устройства.</p>
    </div>
    <div class="card">
        <h2>CloudBase Solutions</h2>
        <p>Партньор за предоставяне на облачни услуги с висока сигурност.</p>
    </div>
    <div class="card">
        <h2>Design Pro Studio</h2>
        <p>Експертен екип, който помага за създаване на потребителски интерфейси и графичен дизайн.</p>
    </div>
    <div class="card">
        <h2>Икономически университет Варна</h2>
        <p>Предоставя млади таланти в областта.</p>
    </div>
</div>

<div  class="aboutInfo">
    <h1>Информация за клиенти</h1>
    <p>"Lion Pride" има широка клиентска база, включваща както малки стартиращи компании, така и големи корпоративни клиенти. Някои от най-значимите проекти включват:</p>
</div>
    <div class="cards">
        <div class="card">
            <h2>GreenFuture Energy</h2>
            <p>Създаване на софтуер за управление на енергийни ресурси.</p>
        </div>
        <div class="card">
            <h2>UrbanTech City Solutions</h2>
            <p>Разработване на мобилно приложение за управление на интелигентни градове.</p>
        </div>
        <div class="card">
            <h2>EduLearn</h2>
            <p>Образователна платформа с над 500 000 активни ученици и преподаватели.</p>
        </div>
    </div>
