<h1 id="gallerTitle">Галерия & Събития</h1>

<div class="gallery">
    <div class="gallery-item">
        <img src="/assets/img/gallery/christmas.jpg" alt="">
        <div class="overlay">Весели празници!!!</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/conference2024.jpg" alt="">
        <div class="overlay">Конференция 2024 на тема IA в Web</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/institute.jpg" alt="">
        <div class="overlay">Провеждане на семинари за насърчаване на млади таланти.</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/network.png" alt="">
        <div class="overlay">Изграждане на най-голямата Интернет мрежа в северна България.</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/office.jpg" alt="">
        <div class="overlay">Инициатива зелен офис!</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/partner.png" alt="">
        <div class="overlay">Отстъпки от наши партньори</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/robotization.jpg" alt="">
        <div class="overlay">Организиране на конкурс по роботика за деца!</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/server.jpg" alt="">
        <div class="overlay">Нашия нов сървърен център.</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/students.jpg" alt="">
        <div class="overlay">Провежда не на олимпиада по програмиране.</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/team.jpg" alt="">
        <div class="overlay">Колективна и приятна работна среда.</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/unity-3d-for-game-development.jpg" alt="">
        <div class="overlay">Обучение на персонала върху новостите в Unity.</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/pyramid.jpg" alt="">
        <div class="overlay">Как да се развиваме</div>
    </div>
    <div class="gallery-item">
        <img src="/assets/img/gallery/rocket.jpg" alt="">
        <div class="overlay">Малко участие но за значима цел.</div>
    </div>
    

</div>