<nav>
    <div class="hederTitle">
    <img src="/_layouts/favicon.ico" alt="">
        <h1>Lion Pride</h1>
    </div>
    <div id="main-nav">
        <ul>
            <li><a href="/_layouts/index.html">Начало</a></li>
            <li><a href="#" onclick="loadPage('/_includes/about.html')">За нас</a></li>
            <li><a href="#" onclick="loadPage('/_includes/services.html')">Услуги</a></li>
            <li><a href="#" onclick="loadPage('/_includes/gallery.html')">Галерия & Събития</a></li>
            <li><a href="#" onclick="loadPage('/_includes/contact.html')">Контакти</a></li>
        </ul>
    </div>

    <div id="phone-nav" >
        <div id="phone-nav-icon">
            <span class="nav-icon-line first-line"></span>
            <span class="nav-icon-line second-line"></span>
            <span class="nav-icon-line third-line"></span>
        </div>
        <div class="menu-box">
            <ul>
                <li><a href="/_layouts/index.html">Начало</a></li>
                <li><a href="#" onclick="loadPage('/_includes/about.html')">За нас</a></li>
                <li><a href="#" onclick="loadPage('/_includes/services.html')">Услуги</a></li>
                <li><a href="#" onclick="loadPage('/_includes/gallery.html')">Галерия</a></li>
                <li><a href="#" onclick="loadPage('/_includes/contact.html')">Контакти</a></li>
            </ul>
        </div>
    </div>
</nav>