<h1>Предлагани услуги</h1>
<div class="sliderServices" reverse="true" style="
--width: 200px;
--height: 250px;
--quantity: 8;
">
<div class="list">
    <div class="service" style="--position: 1">
        <img src="/assets/img/dotNET.png" alt="">
        <p>Web Aplications</p>
        <button class="info-btn" data-info="Информация за Web Applications" onclick="servicesInfo(this)">Информация?</button>
    </div>
    <div class="service" style="--position: 2">
        <img src="/assets/img/C.jpg" alt="">
        <p>dfgdfg</p>
        <button class="info-btn" data-info="444444444" onclick="servicesInfo(this)">Информация?</button>
    
    </div>
    <div class="service" style="--position: 3">
        <img src="/assets/img/C.jpg" alt="">
        <p>dfgdfg</p>
        <button class="info-btn" data-info="аожжж" onclick="servicesInfo(this)">Информация?</button>
    
    </div>
    <div class="service" style="--position: 4">
        <img src="/assets/img/C.jpg" alt="">
        <p>dfgdfg</p>
        <a href="#">sds</a>
    </div>
    <div class="service" style="--position: 5">
        <img src="/assets/img/C.jpg" alt="">
        <p>dfgdfg</p>
        <a href="#">sds</a>
    </div>
    <div class="service" style="--position: 6">
        <img src="/assets/img/C.jpg" alt="">
        <p>dfgdfg</p>
        <a href="#">sds</a>
    </div>
    <div class="service" style="--position: 7">
        <img src="/assets/img/C.jpg" alt="">
        <p>dfgdfg</p>
        <a href="#">sds</a>
    </div>
    <div class="service" style="--position: 8">
        <img src="/assets/img/C.jpg" alt="">
        <p>dfgdfg</p>
        <a href="#">sds</a>
    </div>
</div>
</div>
<article class="productTitle">
    <div class="left">
        <h1>Вашия продукт може да е тук!</h1>
    </div>
</article>
<div class="advertisement">
    <div class="product">
        <div class="wrap" style="--url: url(/assets/img/servicesPagePicture/advertising.jpg)">
        </div>
        <div class="wrap" style="--url: url(/assets/img/servicesPagePicture/advertising2.jpg)">
        </div>
    </div>


    <div class="signs">
        <img src="/assets/img/servicesPagePicture/signs.png" alt="">
        <img src="/assets/img/servicesPagePicture/signs2.png" alt="">
    </div>
</div>




<div class="popup" id="popup">
    <div class="popup-content">
        <span class="close-btn" id="close-btn">&times;</span>
        <p id="popup-text"></p>
    </div>
</div>