<h1 id="servicesTitle">Предлагани услуги</h1>
<div class="sliderServices" reverse="true" style="
--width: 200px;
--height: 270px;
--quantity: 8;
">
<div class="list">
    <div class="service" style="--position: 1">
        <img src="/assets/img/servicesPagePicture/laptop.jpg" alt="">
        <p>Персонализиран софтуер</p>
        <button class="info-btn" 
        data-title="Разработка на персонализиран софтуер"
        data-info="Създаваме уникални софтуерни решения, съобразени с вашите специфични нужди. От управление на данни до автоматизация на процеси, нашите продукти са предназначени да подобрят ефективността на вашия бизнес."
        onclick="servicesInfo(this)">Информация?
        </button>
    </div>
    <div class="service" style="--position: 2">
        <img src="/assets/img/dotNET.png" alt="">
        <p>Уеб разработка и дизайн</p>
        <button class="info-btn" 
        data-title="Уеб разработка и дизайн"
        data-info="Предлагаме професионални услуги за изграждане на уеб сайтове и уеб приложения с модерен дизайн и оптимална функционалност. Вашият онлайн образ ще бъде не само естетичен, но и напълно адаптивен към мобилни устройства."
        onclick="servicesInfo(this)">Информация?
        </button>
    
    </div>
    <div class="service" style="--position: 3">
        <img src="/assets/img/servicesPagePicture/phone.jpg" alt="">
        <p>Разработка на мобилни приложения</p>
        <button class="info-btn" 
        data-title="Разработка на мобилни приложения"
        data-info="Създаваме интуитивни и мощни мобилни приложения за Android и iOS, които отговарят на най-високите стандарти за производителност и потребителско преживяване."
        onclick="servicesInfo(this)">Информация?
        </button>
    
    </div>
    <div class="service" style="--position: 4">
        <img src="/assets/img/Java.jpg" alt="">
        <p>Данни и изкуствен интелект</p>
        <button class="info-btn" 
        data-title="Данни и изкуствен интелект"
        data-info="Предлагаме услуги за анализ на данни, машинно обучение и изкуствен интелект, за да ви помогнем да вземате информирани решения и да автоматизирате рутинни задачи."
        onclick="servicesInfo(this)">Информация?
        </button>
    </div>
    <div class="service" style="--position: 5">
        <img src="/assets/img/servicesPagePicture/server.jpg" alt="">
        <p>Интеграция на системи</p>
        <br>
        <button class="info-btn" 
        data-title="Интеграция на системи"
        data-info="Свързваме различни системи и софтуерни платформи, за да осигурим безпроблемна комуникация между тях. Това включва ERP, CRM, и други бизнес приложения."
        onclick="servicesInfo(this)">Информация?
        </button>
    </div>
    <div class="service" style="--position: 6">
        <img src="/assets/img/servicesPagePicture/software.png" alt="">
        <p>Поддръжка на съществуващ софтуер</p>
        <button class="info-btn" 
        data-title="Поддръжка и надграждане на съществуващ софтуер"
        data-info="Грижим се за вашите текущи софтуерни решения, като осигуряваме актуализации, отстраняване на проблеми и добавяне на нови функционалности, за да останете конкурентоспособни."
        onclick="servicesInfo(this)">Информация?
        </button>
    </div>
    <div class="service" style="--position: 7">
        <img src="/assets/img/servicesPagePicture/padlock.jpg" alt="">
        <p>Киберсигурност и защита на данни</p>
        <button class="info-btn" 
        data-title="Киберсигурност и защита на данни"
        data-info="Предлагаме консултации и решения за защита на вашите данни и системи. Това включва внедряване на защитни стени, антивирусни програми и технологии за предотвратяване на прониквания."
        onclick="servicesInfo(this)">Информация?
        </button>
    </div>
    <div class="service" style="--position: 8">
        <img src="/assets/img/servicesPagePicture/cloud.jpg" alt="">
        <p>Облачни услуги и инфраструктура</p>
        <button class="info-btn" 
        data-title="Облачни услуги и инфраструктура"
        data-info="Помагаме ви да мигрирате и управлявате вашите данни и приложения в облака. Предоставяме решения за съхранение, управление и оптимизация на облачни ресурси."
        onclick="servicesInfo(this)">Информация?
        </button>
    </div>
</div>
</div>
<article class="productTitle">
    <div class="left">
        <h1>Вашия продукт може да е тук!</h1>
    </div>
</article>
<div class="advertisement">
    <div class="product">
        <div class="wrap" style="--url: url(/assets/img/servicesPagePicture/advertising.jpg)">
        </div>
        <div class="wrap" style="--url: url(/assets/img/servicesPagePicture/advertising2.jpg)">
        </div>
    </div>


    <div class="signs">
        <img src="/assets/img/servicesPagePicture/signs.png" alt="">
        <img src="/assets/img/servicesPagePicture/signs2.png" alt="">
    </div>
</div>




<div class="popup" id="popup">
    <div class="popup-content">
        <span class="close-btn" id="close-btn">&times;</span>
        <h2 id="popup-title"></h2>
        <p id="popup-text"></p>
    </div>
</div>