.homeContent{
    background: repeating-linear-gradient(
        125deg,
        #f09f099d,
        #faf60242 10px,
        #b64a02 15px,
        #ccc 20px
    ),  #ffffff;
    }

.banner{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.banner .slider{
    height: 250px;
    width: 200px;
    position: absolute;
    top: 10%;
    z-index: 2;
    left: calc(50% - 80px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(450px);
}
.banner .slider .item img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
}
.banner .content{
    position: absolute;
    width: min(1400px, 100vw);
    bottom: 0;
    left: 50%;
    height: max-content;
    transform: translateX(-50%);
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
}
.banner .content h1{
    position: relative;
    line-height: 1em;
    font-size: 16em;
    color: rgb(37, 40, 59);
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    -webkit-text-stroke: 2px rgb(210, 210, 210);
    color: transparent;
    z-index: 2;
}
.banner .content .titlrHome{
    max-width: 250px;
    z-index: 9999;
    text-align: right;
    margin-left: 40px;
    text-align: center;
}
.banner .content h2{
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    border: 3px dashed white;
    background-color: rgba(255, 255, 255, 0.493);
    padding: 5px;
}
.banner .content p{
    border-radius: 10px;
    border: 3px dashed white;
    background-color: rgba(255, 255, 255, 0.493);
    font-size: 1.2em;
    padding: 5px;

}
.banner .content .model{
    width: 100%;
    height: 80vh;
    background-image: url(/assets/img/lion.png); 
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
    }
}