@media screen and (max-width: 1023px) {
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
    .banner .content h1{
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }
    .banner .content .titleHome{
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }


    /*  */
    #main-nav{
        display: none;
    }
    #phone-nav{
        display: block;
        margin: 0 20px;
    }

    .businessCard a{
        font-size: 1em;
        padding: 15px;
    }

}

@media screen and (max-width: 767px) {

    h1 { font-size: 1.4em; } 
    h2 { font-size: 1.2em; }
    p { font-size: 0.8em; }
    .banner .slider{
        width: 120px;
        height: 170px;
        left: calc(50% - 50px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(250px);
    }
    .banner .content h1{
        font-size: 5em;
    }

    .wrap{
        width: 450px;
    }
    .signs img{
        width: 70vw;
        bottom: -5%;
    }
    .signs img:nth-child(1){
        width: 70vw;
    }

    .advertisement:has(.product:hover) .signs img:nth-child(2){
        transform: translateX(-30px) translateY(30px);
    }
    .advertisement:has(.product:hover) .signs img:nth-child(1){
        transform: translateX(30px) translateY(30px);
    }
}

@media screen and (max-width: 600px) {

    h1 { font-size: 1.2em; } 
    h2 { font-size: 1em; }
    p { font-size: 0.6em; }
    
    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 32.5px;
    }

    .conteiner{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .box{
        font-size: 13px;
    }
    .box small{
        margin-bottom: 10px;
    }
    .right-content{
        left: 0;
    }
    .left-content .circle, .right-content .circle{
        left: 10px;
    }
    .leftArrow{
        left: -15px;
        border-right: 15px solid white;
        border-left: 0;
    }
}

@media screen and (max-width: 426px) {
    h1 { font-size: 1.1em; } 
    h2 { font-size: 0.9em; }
    .businessCard a{
        left: -50px;
        top: 0;
        font-size: 0.6em;
        padding: 8px;
        height: 45px;
    }

    .form{
        width: 250px;
    }
    .field{
        width: 200px;
    }
    .button{
        width: 200px; 
    }
}